@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root{
    --bg-color:rgba(237, 200, 246, 0.699);
    --segunda-cor:#42426F;
}

body {
    background-color: var(--bg-color);
    font-family: 'Borel';
}
  
    h1 {
        font-family: 'Oleo Script';
    }

     h2 {
        color: var(--segunda-cor);
    }
